.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.loginWrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

.loginLeft {
  margin-bottom: 1rem;
}

.loginLogo {
  font-size: 40px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginBox{
  padding: 1.5rem ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0d1117;
    box-shadow:  0 3px 20px 8px rgb(0, 0, 0 , 80%);
}

.loginInput{
    padding: 15px;
    margin-bottom: 16px;
    border-radius: 50px;
    border: 1px solid #ddd;
    color: #ddd;
    font-size: 16px;
    background-color:#0d1117;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
  background-color: #000;
  padding: 10px;
    border: 2px solid transparent;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: all ease .5s;
}
.loginButton:hover {
  border: 2px solid #000;
  background-color: transparent;
}

.loginButton:focus{
  outline: none;
}

.loginButton:disabled{
  cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton{
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.wrapper-address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-address > input {
  width: 100%;
  margin-left: 5px;
}

@media (max-width: 500px) {
  .loginLogo {
    font-size: 28px;
  }

  .loginWrapper {
    padding: 15px;
  }
}
