.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile .circleDiv{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 5px solid #000;
    box-shadow:  0 0 8px 5px rgb(0, 0, 0 , 70%);
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
    color: #ddd;
    margin: 5px;
}

.profileRightBottom{
    display: flex;
}

